.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
      background-color: #82b0fd;
      color: white;
      position: relative;
      padding-right: 52px;

      &:hover {
          background-color: white;
          color: black;
          border: 1px solid black;
      }

      &::after {
          content: '';
          position: absolute;
          background: url('./../../assets/google.svg') no-repeat;
          background-position: center;
          width: 30px;
          height: 100%;
          right: 12px;
          top: 0;
      }
  }
}
